In [4]:
import numpy as np
import pandas as pd
%matplotlib inline

In [5]:
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100

#append two arrays
#heights =  np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
#print(len(heights))
#print(heights)

#add corresponding entries 
#heights =  np.random.normal(69, 8, 100) + np.random.normal(64, 5, 100)
#print(len(heights))
#print(heights)

#data['height'] = heights
#print(data.index)

data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [6]:
#print(data.height)
data.head()

  gender     height      weight
0   male  70.049043  244.770954
1   male  73.092302  150.171312
2   male  74.548281  213.221352
3   male  63.171277  192.561402
4   male  64.167402  182.018901

In [7]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    66.162121  178.324643
std      7.107807   25.818579
min     46.538792  125.709652
25%     61.391792  159.965868
50%     65.626208  174.647912
75%     69.217245  193.288858
max     86.538091  260.262562

In [8]:
data.height.mean()

66.162120504982

In [9]:
data.height.std()

7.1078074478425375

In [10]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    66.162121  178.324643
std      7.107807   25.818579
min     46.538792  125.709652
25%     61.391792  159.965868
50%     65.626208  174.647912
75%     69.217245  193.288858
max     86.538091  260.262562

In [11]:
data.groupby('gender').describe()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  64.145535  4.851068  46.538792  61.113622  63.989412
male    100.0  68.178706  8.354874  50.651584  63.128849  67.354826

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  67.403968  77.310625  100.0  163.812355  14.911448  125.709652
male    74.571580  86.538091  100.0  192.836931  26.308029  127.647542


               25%         50%         75%         max
gender
female  153.767233  163.320144  173.284701  197.288386
male    179.736329  191.715496  212.784224  260.262562

In [14]:
data.gender.value_counts()

male      100
female    100
Name: gender, dtype: int64

In [15]:
data.weight.value_counts().head()

168.894236    1
175.047708    1
168.367436    1
167.888471    1
187.725373    1
Name: weight, dtype: int64